*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#############################################################
# Package Files                                             #
#############################################################
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#############################################################
# Windows                                                   #
#############################################################

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

#############################################################
# Java
#############################################################
*.lnk
*.project
*.box
.apt_generated/*
bin/*
mvnw
mvnw.cmd
/.apt_generated/
/bin/
/target/
.idea/
.mvn/
.settings/
.vagrant/
src/main/archive/ui/component/chart/
src/main/archive/ui/component/kudos/
src/main/java/za/co/yellowfire/threesixty/domain/notification/
src/main/java/za/co/yellowfire/threesixty/security/
src/main/resources/templates/Copy of Upload User.xlsx
src/main/resources/za/

#############################################################
# Includes
#############################################################
!/dist/threesixty-0.1.0.jar
!/dist/threesixty-0.1.2.alpha.jar