<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
        arguments="-Djava.net.preferIPv4Stack=true -Dlogging.file=&quot;%HOME%\LogFiles\boot.log&quot; -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\threesixty-0.1.2.jar&quot; --spring.profiles.active=azure --spring.data.mongodb.uri=&quot;%MONGODB_URI%&quot; --threesixty.mailing.key=%MAILING_API%">
    </httpPlatform>
  </system.webServer>
</configuration>