@import url('variables.css');
@import url('./views/security/login-view.css');
@import url('./views/stuff-view.css');

.text-xxxl {
    font-size: var(--lumo-font-size-xxxl);
}

.flex-justify-c {
    justify-content: center;
}

.flex-align-c {
    align-content: center;
}